* {
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin: 32.16px 0px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin: 19.92px 0px;
}

.h2_margin {
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin: 0 0 19.92px 0;
}

.h2_margin_0 {
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin: 0 0 0 0;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Arimo", sans-serif;
}

main {
  text-align: center;
}

.font-1 {
  background-image: linear-gradient(270deg, rgba(176, 42, 42, 0.16) 0%, rgba(176, 42, 42, 0.56) 18.45%, rgba(176, 42, 42, 0.8) 49.67%, rgba(176, 42, 42, 0.56) 82.52%, rgba(176, 42, 42, 0.196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, 0.16) 99.73%), url(https://static.npmjs.com/abf53a31b2da4657a1a004ee9358551c.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.font-2 {
  background-image: linear-gradient(270deg, rgba(176, 42, 42, 0.16) 0%, rgba(176, 42, 42, 0.56) 18.45%, rgba(176, 42, 42, 0.8) 49.67%, rgba(176, 42, 42, 0.56) 82.52%, rgba(176, 42, 42, 0.196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, 0.16) 99.73%), url(https://static.npmjs.com/3dc2ca3d2e53fc894b904d917cf90015.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.mobile {
  padding: 64px 16px;
  max-width: 768px;
}

.mobile-2 {
  padding: 64px 16px;
  max-width: 768px;
  margin-bottom: 64px;
}

.font_color {
  color: #fff;
}

.section_button {
  margin-top: 64px;
}

.button-1 {
  font-weight: 600;
  line-height: 24px;
  padding: 16px 32px;
  color: #000;
  margin-bottom: 16px;
  border-radius: 50px;
  width: 100%;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  text-decoration-color: black;
  text-decoration-line: none;
  text-decoration-style: solid;
  background: #FFC329;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.button-2 {
  font-weight: 600;
  line-height: 24px;
  padding: 16px 32px;
  color: #000;
  margin-bottom: 16px;
  border-radius: 50px;
  width: 100%;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  text-decoration-color: black;
  text-decoration-line: none;
  text-decoration-style: solid;
  background: #cb3837;
  border: 2px solid #FFFFFF;
  color: #fff;
}

.section_img {
  margin-bottom: 32px;
}

footer {
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  margin-top: 32px;
}

.footer_logo {
  width: 50px;
  height: 77px;
  padding-top: 16px;
}

.footer_logo-2 {
  width: 50px;
  height: 50px;
  padding-top: 16px;
}

.container_logo {
  padding: 16px;
}

h3 {
  margin: 17px 0;
}

.footer_section {
  padding: 1rem;
}

.footer_article {
  padding: 1rem;
}

.article_title {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 19.55px;
  color: #333333;
  margin-top: 0px;
}

.article_list {
  margin: 16px 0;
  list-style-type: none;
  padding-left: 0px;
}

.list_item {
  color: rgba(0, 0, 0, 0.7);
  padding: 4px 0;
  height: 40px;
}

header {
  padding: 8px 0 10px 0;
}

.img-header, .img-footer {
  border-width: 10px 0 0;
  border-top-style: solid;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}

.section_header {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
}

.section_header-1 {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.head, .people {
  display: none;
}

.nav_list {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}

.nav_list_item {
  font-size: 12px;
  padding: 13px 10px 13px 13px;
}

.npm_svg {
  width: 80px;
}

.button_search {
  padding: 8px 32px;
  border: 0px;
  background-color: #231f20;
  color: white;
  font-size: 14px;
  line-height: 16px;
}

.section_header_npm {
  margin-top: 16px;
  padding: 0 16px 16px;
  flex-grow: 1;
  order: 1;
}

.section_header_search {
  flex-grow: 1;
  order: 3;
  width: 375px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
}

.section_header_button {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-left: 16px;
  margin-top: 8px;
  flex-grow: 0;
  order: 2;
}

.search {
  display: flex;
  width: 100%;
  padding: 5px;
  background-color: #f2f2f2;
  color: #000;
}

.lupa {
  padding-top: 10px;
  padding-right: 0.25rem;
  padding-left: 1rem;
  float: left;
}

input[type=search] {
  background: none;
  border: none;
  padding: 1px 10px;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
}

button[type=submit] {
  padding: 8px 25px 8px 32px;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.header_form {
  padding: 0.5rem 1rem 0;
  display: flex;
  border-color: rgba(0, 0, 0, 0.1);
}

.button_singup {
  padding: 13px 28px;
  text-decoration: none;
  color: #000;
  line-height: 1.5;
  font-weight: 500;
  border: 1px solid #ccc;
  margin-right: 16px;
}

.button_singin {
  padding: 13px 28px;
  text-decoration: none;
  color: #000;
  line-height: 1.5;
  font-weight: 500;
  padding: 4px;
}

/*# sourceMappingURL=main.css.map */
