/* FOOTER LOGO */
.footer-logo{
    padding: 1rem;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    color: $grey-1;
    font-family: 'Poppins';
}
.footer-logo-1{
    width: 50px;
    padding-top: 1rem;
    color: $grey-1;
}
.footer-logo-2{
    width: 50px;
    padding-top: 1rem;
    color: $grey-1;
}
/* FOOTER 1ER CONTENEDOR */ 
.footer-conteiner-1{
    padding: 1rem;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    color: rgba(255, 255, 255, .8)
}
/* FOOTER 2DO CONTENEDOR */
.footer-conteiner-2{
    padding: 1rem;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    font-family: 'Poppins';
}
/* FOOTER 3ER CONTENEDOR */
.footer-conteiner-3{
    padding: 1rem;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    font-family: 'Poppins';
}
/* FOOTER FINAL */
.footer-final{
    overflow:hidden;
    border-width: 10px 0 0;
    border-top-style: solid;
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    width: 100%;
}


@media screen and (min-width:400px) and (max-width:960px){
    .contenedor-general-footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 96rem;
    }
    .footer-logo{
        padding: 2rem;
    }
    .footer-conteiner-1{
        width: 50%;
        padding: 2rem;

    }
    .footer-conteiner-2{
        width: 50%;
        padding: 2rem;

    }
    .footer-conteiner-3{
        width: 50%;
        padding: 2rem;
    }
}

@media screen and (min-width:960px){
    .contenedor-general-footer{
        flex-direction: row;
    }
    .footer-logo{
        width: 10%;
        padding: 2rem;
    }
    .footer-conteiner-1{
        padding: 2rem;
    }
    .footer-conteiner-2{
        padding: 2rem;
    }
    .footer-conteiner-3{
        padding: 2rem;
    }
}