footer {
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  margin-top: 32px;
}
.footer-found {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}
.footer_logo {
  width: 50px;
  height: 77px;
  padding-top: 16px;
}
.footer_logo-2 {
  width: 50px;
  height: 50px;
  padding-top: 16px;
}
.container_logo {
  padding: 16px;
}
h3 {
  @include h3;
}
.footer_section {
  @include footer_section(1rem);
}
.footer_article {
  @include footer_article(1rem);
}
.article_title {
  @include article-title;
}
.article_list {
  @include article-list;
}
.list_item {
  @include list-item;
}

@media screen and (min-width: 480px) {
  .footer_section {
    @include footer_section(2rem);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer_article {
    @include footer_article(1rem);
    padding: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
  }
  .article_width {
    width: 100%;
  }
}
@media screen and (min-width: 961px) {
  .max-width-desktop {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 16px;
  }
  .footer_section {
    @include footer_section(2rem);
    flex-grow: 1;
  }
  .footer_flex_grow {
    flex-grow: 0;
    width: 10%;
  }
  .container_logo {
    padding: 0;
  }
  .footer_article {
    flex-grow: 1;
    padding-left: 0px;
    padding-right: 0px;
  }
  .article_width {
    padding-left: 120px;
  }
  .article_width {
    width: auto;
    padding-left: 120px;
  }
}
