footer {
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  margin-top: 32px;
}
.footer_logo {
  width: 50px;
  height: 77px;
  padding-top: 16px;
}
.footer_logo-2 {
  width: 50px;
  height: 50px;
  padding-top: 16px;
}
.container_logo {
  padding: 16px;
}
h3 {
  @include h3;
}
.footer_section {
  @include footer_section;
}
.footer_article {
  @include footer_article;
}
.article_title {
  @include article-title;
}
.article_list {
  @include article-list;
}
.list_item {
  @include list-item;
}
