// Base
@mixin h1($font, $height) {
  font-size: $font;
  line-height: $height;
  font-weight: 600;
}

@mixin h2($font, $height) {
  font-size: $font;
  line-height: $height;
  color: rgb(51, 51, 51);
}

@mixin p($font, $height) {
  font-size: $font;
  line-height: $height;
  font-family: "Arimo", sans-serif;
}
// Landing
@mixin button-mobile {
  font-weight: 600;
  line-height: 24px;
  padding: 16px 32px;
  color: #000;
  margin-bottom: 16px;
  border-radius: 50px;
  width: 100%;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
}
// Footer
@mixin footer_section($padding) {
  padding: $padding;
}
@mixin footer_article($padding) {
  padding: $padding;
}
@mixin article-title {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 19.55px;
  color: rgb(51, 51, 51);
  // font-family: 'Poppins'
  margin-top: 0px;
}
@mixin article_list {
  margin: 16px 0;
  list-style-type: none;
  padding-left: 0px;
}
@mixin list-item {
  color: rgba(0, 0, 0, 0.7);
  padding: 4px 0;
  height: 40px;
  font-weight: 400;
  line-height: 2;
  font-family: sans-serif;
}
@mixin h3 {
  margin: 17px 0;
}
// HEADER
@mixin nav_list {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}
@mixin nav_list_item($font) {
  font-size: $font;
  padding: 13px 13px 13px 13px;
  flex-grow: 1;
  font-weight: 500;
}

@mixin header_button_sing {
  padding: 13px 28px;
  text-decoration: none;
  color: #000;
  line-height: 1.5;
  font-weight: 500;
}
@mixin button_search {
  padding: 8px 25px 8px 32px;
  letter-spacing: 0.3px;
  border: 0px;
  background-color: rgb(35, 31, 32);
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
}
